
.header {
  background-color: #FED02E;
  padding: 10px;

}

.header h2 {
  margin: 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.active {
  font-weight: bold;
  color: #000;
  border-bottom: 3px solid #000;
}

.nav li {
  margin-top: 15px;
}

.nav p {
  text-align: center;
  position: absolute;
  top: 62px;
  right: 425px;
  margin-left: 0;
  background-color: red;
  color: rgb(213, 221, 224);
  border-radius: 30px;
  width: 18px;
}

a {
    padding: 0 35px 8px 35px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(156, 162, 165)
}




